.navbar-nav .nav-link,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
    color: #fff !important;
}
#categoryBtn {
    color: #fff !important;
    border-color: #fff !important;
    background: transparent !important;
}
#categoryBtn i {
    color: #fff !important;
}
.category-popup {
    background: #E55A00;
}
.category-popup .category-item {
    color: #fff;
}
.category-popup .category-item:hover {
    background: #fff;
    color: #E55A00;
}
